* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    padding: 0 20px;
    height: 75px;
    background: black;
    color: white;
    font-family: 'Zilla Slab', serif;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    -webkit-transition:height 200ms ease;
    -moz-transition:height 200ms ease;
    -o-transition:height 200ms ease;
    transition:height 200ms ease; 
    z-index: 1;
}

.nav-active {
    height: 120px;
}

ul {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    height: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-transition:height 200ms ease;
    -moz-transition:height 200ms ease;
    -o-transition:height 200ms ease;
    transition:height 200ms ease;
    margin-bottom: 5px;
}

ul li {
    display: inline-block;
    font-size: 16px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:visited {
    text-decoration: none;
    color: white;
}

ul li:hover, ul li:focus {
    text-decoration: underline;
}

li a:hover, li a:focus {
    text-decoration: underline;
}

li button {
    border: none;
    background: black;
    color: white;
}

li button:hover, li button:focus {
    text-decoration: underline;
}

.toggle {
    padding: 10px;
    background: black;
    text-align: right;
    font-size: 25px;
    display: inline-block;
    border: none;
}

.burger {
    color: white;
}

.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0;
}

.small-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.title:hover, .title:focus {
    text-decoration: underline;
}

header {
    padding: 0 10px;
    margin: 0 auto;
}

footer {
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
    margin-top: auto;
}

.footer-icon {
    color: black;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 45px;
    font-weight: 300;
    margin-top: 150px;
    margin-bottom: 20px;
}

.short-bio {
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.75;
    margin: 25px auto;
}

h2 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
}

section p {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

.tech-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tech-icon {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.bio, .portfolio {
    margin: 125px auto 50px;
    width: 80%;
}

.hidden {
    display: none;
}

.port-section {
    width: 100%;
    margin: auto;
}

.port-img-big img {
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid black;
}

.slides {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides img {
    margin-right: 10px;
    scroll-snap-align: start;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid black;
}

h3 {
    font-family: 'Zilla Slab', serif;
    font-size: 28px;
}

.project-links {
    text-align: center;
    margin: 20px;
}

.project-links a {
    color: white;
    background: black;
    border: 1px solid black;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    font-weight: 300;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    height: 40px;
}

.project-links a:hover, .project-links a:focus {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.carousel {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    overflow-x: auto;
    position: relative;
}

.carousel::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.carousel::-webkit-scrollbar-track {
    background: transparent;
}

.carousel a {
    height: auto;
    width: 24.5%;
}

.carousel-rr-container {
    position: relative;
    overflow: hidden;
}

.carousel-rr a {
    flex-shrink: 0;
    margin-right: 5px;
}

.carousel a img {
    height: 100%;
    width: 100%;
}

.carousel a:focus, .carousel a:hover {
    opacity: 0.6;
}

.click-to-enlarge {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.email-port-buttons, .landing-buttons {
    text-align: center;
}

.email-port-buttons button, .email-port-buttons a, .landing-button {
    color: white;
    background: black;
    border: 1px solid black;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    font-weight: 300;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    height: 40px;
}

.email-port-buttons button:hover, .email-port-buttons button:focus, .email-port-buttons a:hover, .email-port-buttons a:focus {
    color: black;
    background-color: white;
    border: 1px solid black;
}

footer p {
    display: none;
    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}

.previous, .next {
    display: none;
}

@media screen and (min-width: 750px){

    .previous, .next {
        display: inline-block;
        color: white;
        position: absolute;
        top: 50%;
        z-index: 10;
        padding: 5px;
        font-size: 25px;
        background: none;
        border: none;
    }
    
    .previous:hover, .next:hover, .previous:focus, .next:focus {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .previous:active, .next:active {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .previous {
        left: 0;
    }
    
    .next {
        right: 0;
    }

    .small-container {
        margin-top: 0;
    }

    .toggle {
        display: none;
    }

    ul, .active {
        max-width: 500px;
        height: auto;
        display: inline-block;
        text-align: right;
        margin: 0;
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        padding: 20px;
        font-size: 20px;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }

    .nav-active {
        height: 75px;
    }

    h1 {
        font-size: 50px;
    }

    .short-bio {
        font-size: 35px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    section {
        max-width: 70%;
    }

    section p {
        font-size: 25px;
    }
    
    .project-links a {
        font-size: 30px;
    }

    .bio, .portfolio {
        margin: 50px auto;
    }

    footer p {
        display: inline-block;
    }

    .landing-buttons {
        display: none;
    }

    .project-description {
        margin-top: 0;
    }

    .slides img {
        margin: 0;
    }
}
